<h1>Rails Docker Application - Changed</h1>
<ul>
  <li class='done'>Create POST model</li>
  <li class='done'>Create POSTS_CONTROLLER; views for show, index, edit; handlers for show, index, update, destroy</li>
  <li class='done'>Add some database content</li>
  <li class='done'>Git INIT</li>
  <li>DOCKERIZE!</li>
</ul>